* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 60%;
}

.row {
  display: flex;
  gap: 3rem;

  .col {
    text-align: center;
  }
}

.col-title {
  font-size: 2.25rem;
}

.col-title.white {
  color: #fff;
}

.col-title.purple {
  color: #87629a;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;

  .hero__content {
    color: #fff;

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }

    p {
      margin-top: 2rem;
      font-size: 1.3125rem;
    }

    a {
      display: inline-block;
      margin-top: 2rem;
      background-color: #38cfd9;
      padding: 1rem 2.5rem;
      border-radius: 100px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.25rem;
      color: #3a3a3a;
    }
  }
}

.feature {
  padding: 100px 0;

  p {
    margin-top: 2rem;
  }
}

.footer {
  padding: 100px 0;
  background-color: #136c72;

  p {
    color: white;
    margin-top: 2rem;
  }
}
